@use "../../../styles/constants.scss";

.modal {
    width: 350px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title {
    font-size: 24px;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .button {
        height: 35px;
        width: 100%;
    }
}