@use "../../../styles/constants.scss";

.modal {
    width: 350px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    height: 50px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .button {
        height: 35px;
        width: 100%;
    }
}

.error {
    color: constants.$warning;
}