@use "../../styles/constants.scss";

.order {
    padding: 5px 15px 0px 15px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__actions {
        .orderActions {
            display: flex;
            align-items: center;
            gap: 15px;

            .actions__search {
                flex: 0 1 50%;
                height: 45px;
            }

            .actions__buttons {
                flex: 0 1 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 15px;

                .button {
                    width: 120px;
                    height: 45px;
                }
            }
        }
    }

    &__table {
        overflow-x: scroll;

        .table {
            border-collapse: collapse;
            width: 100%;

            &__header {}

            &__body {
                .table__row:hover {
                    background-color: constants.$light-grey;
                }
            }

            &__row {
                border-bottom: 1px solid constants.$grey;
            }

            &__item {
                text-align: left;
                line-height: 1.25;
                padding: 10px;

                &:not(:first-child) {
                    padding: 10px 16px;
                }

                span {
                    font-weight: 600;
                }
            }

            .nowrap {
                white-space: nowrap;
            }
        }
    }
}